<template>
  <div>
    <div class="row">
        <app-weather-city :city="ele" v-for='(ele, index) in citydata' :key='index'></app-weather-city>
    </div>
  </div>
</template>


<script>
import { eventbus } from "../../main.js";
import appCities from "./CityWeather/CityWeather.vue";
export default {
  components: {
    "app-weather-city": appCities
  },

  data: function() {
    return {
      citydata: []
    };
  },
  mounted() {
    //eventbus.getCityWeatherData();
    eventbus.$on("getWeatherCityData", data => {
      this.citydata = data;
    });

    // eventbus.getCityLocationData([39.9525839, -75.1652215]);
    // eventbus.$on("getCityLocationData", data => {
    //   console.log(data);
    // });
  }
};
</script>
