<template>
    <div class="col-sm-12 text-left card">
        <div class="row">
          <div class="col-sm-6 city_weather-data">
            <div>City: {{city.name}}</div>
            <div class="">
              <div>Temperature: {{(9/5 *(city.temp.temp - 273) + 32).toFixed(1)}}</div>
              <div>Humidity: {{city.temp.humidity}}</div>
              <div>Sky: <img :src='weathericon'></div>
             </div>
          </div>
          <div class="col-sm-6">
            <GmapMap
              :center="city.coords"
              :zoom="10"
              style="width:100%;  height: 300px;">
              <GmapMarker center="city.coords"
                :draggable="false">
              </GmapMarker>
            </GmapMap>
          </div>
        </div>
    </div>
</template>

<script>
export default {
  props: ["city"],
  data() {
    return {
      weathericon:
        "http://openweathermap.org/img/w/" +
        this.city["weather"][0]["icon"] +
        ".png"
    };
  }
};
</script>
 
